@import "../colors.scss";


.register-form-container{
    height: 400px;
    width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 60px 100px 80px 100px;

    .header{
        font-size: 18px;
    }

    form{
        height: 160px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        #error-message{

            height: 15px;
            color: $errorRed;
            font-size: 12px;
        }
    }

    a{
        font-size: 14px;
    }
}