


// $primaryColor: #1a3a3a;
// $primaryColor: #2d5d7b;

$gray000: #F8F8F8;
$gray100: #F5F5F5;
$gray700: #404040;
$gray800: #303030;
$gray900: #202020;
$gray1000: #101010;


// $errorRed: #cc0000;
$errorRed: #870101;