@import "./colors";

*{
    box-sizing: border-box;
}

input[type=text]{
    width: 125px;
    height: 25px;

    border: 1px solid $gray900;
    border-radius: 4px;

    padding: 0px 10px;

    background: #F5F5F5;
}

input[type=submit]{
    width: 125px;
    height: 25px;

    border: 1px solid black;
    border-radius: 4px;

    padding: 0px 10px;

    color: $gray100;
    background: $gray1000;
}